/build
/dist
/classes
bin/

*.class
*.apk
*.swap

*.war
.settings/
*.pyc

*.classpath

.project
target/
.settings/
.metadata/
*/.DS_Store
*.DS_Store
.recommenders/
*/xcuserdata
*/project.xcworkspace
Podfile.lock
Pods
watermarkCamera.xcworkspace
